@{
    ViewBag.Title = "Home Page";
}
<div class="row main-banner">
    <div class="overlay">
        <div class="container">
            <div class="caption-banner">
                <h1>
                    AMCA Properties
                </h1>
                <h2>
                    Turning Dreams into Homes, <span>One House at a Time</span>
                </h2>
                <p><a href="#"><button class="btn btn-theme">Explore More</button></a></p>
                <div class="s-animation">
                    <div class="mousey"><div class="scroller"></div></div>
                    <span>Scroll Down To Discover</span>
                </div>
            </div>
        </div>
    </div>
    <img src="~/images/banner.jpg" class="img-responsive" />
</div>
<div class="row">
    <div class="brodcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>AMCA Properties</li>
                    </ul>
                </div>
                <div class="col-md-6 text-right">
                    <a href="#">
                        <button class="btn share-btn pull-right"><i class="las la-share-alt-square"></i> Share</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row page-wrapper">
    <div class="container">
        <div class="col-md-12">
            <div class="heading-home">
                <h3>
                    WHAT WE OFFER
                </h3>
                <h4>
                    Our Services
                </h4>
            </div>
        </div>
        <div class="col-md-12 services-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/img-1.jpg" />
                        <div class="caption">
                            <h3>Sale Services</h3>
                            <p>
                                Discover seamless and stress-free property sales with AMCA Properties. We specialise in turning your property
                                into a valuable asset, ensuring a swift and profitable sale for homeowners.
                            </p>
                            <p><a href="#" class="btn btn-theme" role="button">Know More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/img-2.jpg" />
                        <div class="caption">
                            <h3>Purchase Assistance</h3>
                            <p>
                                Let us guide you through the journey of finding your dream home. With AMCA Properties, 
                                your perfect property is just a click away. Trust us to make your home-buying experience smooth and satisfying.
                            </p>
                            <p><a href="#" class="btn btn-theme" role="button">Know More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/img-3.jpg" />
                        <div class="caption">
                            <h3>Brokerage Expertise</h3>
                            <p>
                                Our dedicated brokerage services are designed to connect buyers and sellers effortlessly. 
                                With a commitment to integrity and transparency, AMCA Properties ensures fair deals and satisfied clients.
                            </p>
                            <p><a href="#" class="btn btn-theme" role="button">Know More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row page-wrapper about-pr bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Why choose AMCA Properties</h2>
                <p>
                    Check video presentation to find out more about us .
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="media">
                    <div class="media-left">
                        <div class="box-media">
                            <i class="las la-headset"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Exceptional Expertise
                        </h4>
                        <p>
                            Our team of seasoned real estate professionals brings years of experience and industry knowledge to ensure you make informed decisions. 
                            From market trends to property valuations, we are here to empower you with the information you need.
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <div class="box-media">
                            <i class="las la-user-cog"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Unmatched Integrity
                        </h4>
                        <p>
                            At AMCA Properties, integrity is at the core of everything we do. We prioritise transparency and honesty in all our interactions, 
                            fostering trust and confidence throughout your home-buying journey.
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <div class="box-media">
                            <i class="las la-envelope-open"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Personalised Service
                        </h4>
                        <p>
                            We understand that every homebuyer is unique, and so are their needs. Our personalised approach ensures that your preferences, goals, 
                            and lifestyle are taken into account, resulting in a tailored experience that exceeds expectations.
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <div class="box-media">
                            <i class="las la-envelope-open"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Guidance Every Step of the Way
                        </h4>
                        <p>
                            Buying a home can be a complex process. Our dedicated team is here to guide you through every step, providing support 
                            from the initial search to the final closing. Your satisfaction is our priority.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-6 testimonials-small">
                <img src="~/images/about.jpg" class="img-responsive" />
                <div class="testimonials-box">
                    <p>
                        Each property with AMCA Properties stands as a testament to the artistry of home, where every brick holds a story, and every space echoes 
                        the promise of a cherished journey.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row explore-properties">
    <div class="d-flex">
        <div class="widget-background">
            <div class="caption-widget">
                <h3>Explore the Best</h3>
                <p>
                    Discover the epitome of luxury living as you explore the best of the best with AMCA Properties
                </p>
            </div>
            <div class="city-bg"></div>
        </div>
        <div class="widget-crousal">
            <div class="owl-carousel owl-theme itemSlider">
                <div class="item">
                    <div class="caption-item">
                        <h4>JLT (Jumeirah Lakes Towers)</h4>
                        <p>Nestled amidst shimmering lakes, JLT boasts panoramic views and upscale amenities, perfect for luxury living and promising high returns on property investments.</p>
                    </div>
                    <img src="~/images/item1.jpg" class="img-responsive" />
                    <div class="overlay"></div>
                </div> <!-- end of item -->
                <div class="item">
                    <div class="caption-item">
                        <h4>Dubai Marina</h4>
                        <p>Dubai Marina, a cosmopolitan waterfront gem, offers a blend of skyscrapers, yacht-filled marinas, and vibrant nightlife, making it an ideal investment for a dynamic lifestyle.</p>
                    </div>
                    <img src="~/images/item2.jpg" class="img-responsive" />
                    <div class="overlay"></div>
                </div> <!-- end of item -->
                <div class="item">
                    <div class="caption-item">
                        <h4>Downtown Dubai</h4>
                        <p>Iconic landmarks like Burj Khalifa and The Dubai Mall define Downtown Dubai, offering unparalleled luxury, cultural richness, and a prime location, making it a lucrative property investment.</p>
                    </div>
                    <img src="~/images/item3.jpg" class="img-responsive" />
                    <div class="overlay"></div>
                </div> <!-- end of item -->
                <div class="item">
                    <div class="caption-item">
                        <h4>Palm Jumeirah</h4>
                        <p>A man-made marvel, Palm Jumeirah combines opulence with breathtaking sea views, making it a premier destination for high-end living and an attractive investment opportunity.</p>
                    </div>
                    <img src="~/images/item4.jpg" class="img-responsive" />
                    <div class="overlay"></div>
                </div> <!-- end of item -->
            </div> <!-- end of carousal -->
        </div>
    </div>
</div>
<div class="row testimonials-wrapper">
    <div class="container">
        <div class="col-md-12 text-center main-heading">
            <h3>@*<span class="subheading-m">testimonials</span>*@<span class="heading-m">What Our Client Says</span></h3>
        </div>
    </div>
</div>